body {
		background-color: #002b36;
}

h1 {
		color: #b58900;
		display: flex;
		justify-content: center;
		align-content: center;
		font-family: 'Orbitron', sans-serif;
}

#game-area {
    background-color: #002b36;
		display: flex;
		justify-content: center;
		align-items: center;
}

#graph-canvas {
		position: absolute;
}

#iso-canvas {
		position: relative;
}
