body {
		background-color: "#002b36";
}

h1 {
		text-color: #b58900;
		display: flex;
		justify-content: center;
		align-content: center;
		font-family: 'Bowlby One SC', cursive;
}

#game-area {
		background-color: #93a1a1;
		display: flex;
		justify-content: center;
		align-items: center;
}

#graph-canvas {
		position: absolute;
}

#iso-canvas {
		position: relative;
}
