h1 {
		display: flex;
		justify-content: center;
		align-content: center;
		font-family: 'Bowlby One SC', cursive;
}

#game-area {
		background-color: darkgray;
		display: flex;
		justify-content: center;
		align-items: center;
}

#graph-canvas {
		background-color: red;
		position: absolute;
}

#iso-canvas {
		position: relative;
}
